.hero-section {
  min-height: 250px;
  max-height: 350px;
  overflow: hidden;
}

.hero-h1 {
  max-width: max-content;
}

.hero-background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(2px);
  z-index: -1;
}

.hero-content {
  z-index: 2;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
